@import './../../../../styles.scss';

nav {
    padding: 32px;
    @include dFlex($jc: space-between);

    >img {
        width: 64px;
        height: 64px;
    }

    >div {
        @include dFlex($g: 40px);

        >a {
            &:hover {
                color: $darkred;
            }
        }
    }
}

.phone_btn {
    @include borderStyling(solid);
    @include dFlex();
    background-color: $darkred;
    padding: 8px 16px 8px 12px;
    cursor: pointer;

    &:hover {
        background-color: #994646;
    }

    >img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    >a {
        user-select: none;
    }
}

a {
    @include fontColor(white);
    text-decoration: none;
    font-size: 24px;
}