/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-VariableFont_wght.ttf');
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Economica-Bold';
    src: url('/fonts/Economica-Bold.ttf');
    font-optical-sizing: auto;
    font-style: bold;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.fontFamily {
    font-family: 'Raleway';
}