/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$darkred: #9f0908;

.fontFamily {
    font-family: 'Raleway';
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-VariableFont_wght.ttf');
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Economica-Bold';
    src: url('/fonts/Economica-Bold.ttf');
    font-optical-sizing: auto;
    font-style: bold;
}

@mixin borderStyling($bStyle) {
    border-radius: 16px;
    border: 3px $bStyle white;
}

@mixin fontColor($color) {
    color: $color;
}

@mixin dFlex($jc: center, $ai: center, $g: 0px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}